.col1{
    background-color: pink;
}

.col2{
    background-color: blue;
}

.col1,.col2{
    color: white;
}

.nested-col-1{
    background-color: gray;
    color: white;
}
.nested-col-2{
    background-color: orange;
    color: white;
}